body{
/* background-size: contain; */
margin: 0px;
padding: 0px;
background-image: url(assets/img/etudiant2.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
backdrop-filter:contrast(1);

input{
    width: 100%!important;
   }
